.subscribe {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 370px;
    top: 4414px;
      
    background-image: linear-gradient(
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),
    url("../images/background-image/Subcribe.jpg");
}