.subscribe {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 370px;

      
    background-image: linear-gradient(
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),
    url("../images/background-image/Subcribe.jpg");
}

.subscribe-title {
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 28px;
    line-height: 96%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: Top;
    letter-spacing: -3%;
}

.subscribe-description {
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 18px;
    line-height: 105%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: Top;
    letter-spacing: -2%;
}